{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'src/output.css' %}">
	<!--date peaker link-->

	<link rel="stylesheet" href="{% static 'jalalidatepicker.min.css' %}">
    <script type="text/javascript"
        src="{% static 'jalalidatepicker.min.js.js' %}"></script>
</head>

<body>
	<div class="flex items-center justify-around w-full h-24 shadow-xl py-20">
		<img src="http://bmipsp.ir/css/logo.svg" class="w-20 sm:w-32 h-10 md:w-52 md:h-20" alt="Bank Logo">

		<p id="clock" class="font-bold text-[30px] md:text-[49px]">12:44</p>

		<img src="{% static 'assest/img/melilogo.svg' %}" class="w-20 sm:w-32 h-10 md:w-52 md:h-20" alt="Bank Logo">
	</div>



	<!--test-->

	<div class="max-w-3xl  mx-auto my-10">

		<div class="relative overflow-x-auto shadow-md sm:rounded-lg">

			<div class="flex items-center justify-between p-4 ">


				<div class="flex flex-col md:flex-row items-center gap-8 w-full  justify-between  mt-1">
					<div class="relative w-full flex justify-around items-center ml-16 md:ml-2 ">
						<div class="relative w-full">
							<select id="countries"
								class="bg-gray-50 border border-gray-300  text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-4 w-[90%] md:w-[50%] font-bold child:font-bold child:px-2 child:my-1 child-hover:cursor-pointer px-4"
								dir="rtl">
								<option selected>دلار</option>
								<option value="US">تست</option>
								<option value="CA">1تست</option>
								<option value="FR">تست2</option>
								<option value="DE">تست3</option>
							</select>
						</div>
					</div>

<input onchange="dataDatepeker()" name="start"  id="startDate" class="bg-slate-50 px-2 py-2 rounded-md border border-blue-600" type="text" data-jdp placeholder="قیمت در تاریخ" />



				</div>
			</div>
			<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 " dir="rtl ">
				<thead
					class="text-xs text-gray-700 uppercase bg-gray-50 child-hover:text-gray-400 child-hover:cursor-pointer child:text-center">
					<tr class="border-b border-gray-400 child:text-xl child:md:text-2xl ">


						<th scope="col" class="px-8 py-3">
							فروش
						</th>
						<th scope="col" class="px-8 py-3">
							خرید
						</th>
						<th scope="col" class="px-6 py-3">
							نوع ارز
						</th>

					</tr>
					<!--az inja bayad data ha va ghimat haro vared koni va render begiri-->
					<!--az inja bayad data ha va ghimat haro vared koni va render begiri-->
					<!--az inja bayad data ha va ghimat haro vared koni va render begiri-->
					<tr class="text-sm md:text-xl">


						<th scope="col" class="px-6 py-3">
							42,210
						</th>
						<th scope="col" class="px-6 py-3">
							42,000
						</th>
						<th scope="col" class="pr-0 py-3">
							دلار استرالیا
						</th>

					</tr>
					<!-- payan inja bayad data ha va ghimat haro vared koni va render begiri-->
					<!-- payan inja bayad data ha va ghimat haro vared koni va render begiri-->
					<!-- payan inja bayad data ha va ghimat haro vared koni va render begiri-->
					<tr class="text-sm md:text-xl">


						<th scope="col" class="px-6 py-3">
							42,210
						</th>
						<th scope="col" class="px-6 py-3">
							42,000
						</th>
						<th scope="col" class="px-2  py-3">
							دلار کانادا
						</th>

					</tr>
					<tr class="text-sm md:text-xl">


						<th scope="col" class="px-6 py-3">
							42,210
						</th>
						<th scope="col" class="px-6 py-3">
							42,000
						</th>
						<th scope="col" class="px-2 py-3">
							دلار امریکا
						</th>

					</tr>
					<tr class="text-sm md:text-xl">

						<th scope="col" class="px-6 py-3">
							42,210
						</th>
						<th scope="col" class="px-6 py-3">
							42,000
						</th>
						<th scope="col" class="px-2 py-3">
							دلار امریکا
						</th>

					</tr>
					<tr class="text-sm md:text-xl">


						<th scope="col" class="px-6 py-3">
							42,210
						</th>
						<th scope="col" class="px-6 py-3">
							42,000
						</th>
						<th scope="col" class="px-2 py-3">
							دلار امریکا
						</th>

					</tr>
				</thead>
				<tbody>


				</tbody>
			</table>
		</div>


		<script src="https://unpkg.com/flowbite@1.3.4/dist/flowbite.js"></script>
	</div>
    <script src="{% static 'jquery-3.7.1.min.js.js' %}"></script>
	<script>

        jalaliDatepicker.startWatch({
            minDate: "attr",
            maxDate: "attr"
        });
        function updateClock() {
    const now = new Date(); // Get the current date and time
    const hours = String(now.getHours()).padStart(2, '0'); // Get hours
    const minutes = String(now.getMinutes()).padStart(2, '0'); // Get minutes
    const seconds = String(now.getSeconds()).padStart(2, '0'); // Get seconds

    const clockDisplay = `${hours}:${minutes}:${seconds}`; // Format as HH:MM:SS
    document.getElementById('clock').textContent = clockDisplay; // Update the clock
}

// Update the clock immediately and then every second
updateClock(); // Initial call to set the time immediately
setInterval(updateClock, 1000); // Update every 1000 milliseconds (1 second)

    </script>


</body>


</html>

<!--
	<html>
    <head>
    <link rel="stylesheet" href="http://babakhani.github.io/PersianWebToolkit/beta/lib/persian-datepicker/dist/css/persian-datepicker.css"/>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <script src="http://babakhani.github.io/PersianWebToolkit/beta/lib/persian-date/dist/persian-date.js"></script>
      <script src="http://babakhani.github.io/PersianWebToolkit/beta/lib/persian-datepicker/dist/js/persian-datepicker.js"></script>
    </head>
    <body>

        <script type="text/javascript">
          $(document).ready(function() {
          $(".example1").pDatepicker();
          });
        </script>

        <input type="text" class="example1" />
    </body>
</html>
-->